<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mantoo.mtic.module.system.exMapper.equip.EquipGroupCustomerMapper">
    <resultMap id="BaseResultMap" type="com.mantoo.mtic.module.system.entity.equip.EquipGroupCustomer">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="equip_group_id" jdbcType="BIGINT" property="equipGroupId" />
        <result column="customer_id" jdbcType="VARCHAR" property="customerId" />

    </resultMap>
</mapper>